# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [42]:
import pandas as pd
import numpy as np

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')
    
data = pd.concat([file1, file2, file3], ignore_index=True)

In [44]:
%reload_ext autoreload
%autoreload 2

import mymodule
data = mymodule.clean_data(data)

In [6]:
data.tail()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
12069,LA72316,NaN,Unknown,Bachelor,23405,71941,73,0,Personal Auto,Four-Door Car,198,California,M
12070,PK87824,NaN,Unknown,College,3096,21604,79,0,Corporate Auto,Four-Door Car,379,California,F
12071,TD14365,NaN,Unknown,Bachelor,8163,0,85,3,Corporate Auto,Four-Door Car,790,California,M
12072,UP19263,NaN,Unknown,College,7524,21941,96,0,Personal Auto,Four-Door Car,691,California,M
12073,Y167826,NaN,Unknown,College,2611,0,77,0,Corporate Auto,Two-Door Car,369,California,M

In [46]:
data.columns.tolist()

['customer',
 'education',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'number_of_open_complaints',
 'policy_type',
 'vehicle_class',
 'total_claim_amount']

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [54]:
# Your code goes here
file4 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
file4.head(1)
file4.columns.tolist()

['unnamed:_0',
 'customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type',
 'month']

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [88]:
# question 1
file4_Pivot = file4.pivot_table(index='sales_channel', values='total_claim_amount',aggfunc='sum')
file4_Pivot['total_claim_amount'] = file4_Pivot['total_claim_amount'].round(2)
def format_int_with_commas(x):
    """
    Formats an integer with commas as thousand separators.
    """
    return f"{x:,}"
file4_Pivot['total_claim_amount'] = file4_Pivot['total_claim_amount'].map(format_int_with_commas)
file4_Pivot['total_claim_amount']

# conclusions: Agent has the highest revenue

sales_channel
Agent          1,810,226.82
Branch          1,301,204.0
Call Center      926,600.82
Web              706,600.04
Name: total_claim_amount, dtype: object

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [102]:
file4_Pivot1=file4.pivot_table(index='education', columns='gender', values='customer_lifetime_value', aggfunc='mean')
file4_Pivot1

gender                          F            M
education
Bachelor              7874.269478  7703.601675
College               7748.823325  8052.459288
Doctor                7328.508916  7415.333638
High School or Below  8675.220201  8149.687783
Master                8157.053154  8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [104]:
# Your code goes here
file4.columns.tolist()

['unnamed:_0',
 'customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type',
 'month']

In [120]:
melted_data = pd.melt(file4, id_vars=['policy_type', 'month'], value_vars=['number_of_open_complaints'], var_name='Indicator', value_name='Value')
melted_data.head().sort_values('policy_type')

      policy_type  month                  Indicator     Value
0  Corporate Auto      2  number_of_open_complaints  0.000000
3  Corporate Auto      1  number_of_open_complaints  0.000000
1   Personal Auto      1  number_of_open_complaints  0.000000
2   Personal Auto      2  number_of_open_complaints  0.000000
4   Personal Auto      1  number_of_open_complaints  0.384256